*{margin: 0;
padding: 0;}
.box{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    margin-right: 5px;
    flex-direction: row;
}
#heading{margin-left: 200px;}
#container{
    height: 300px;
    width: 300px;
    padding: 50px;
    margin: 10px;
    border: 3px solid black;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: start;

}
#box1{background-color: aqua;
align-self: flex-end;}/*- align self diya #box1 ko end -*/
#box2{ background-color: blueviolet;
flex-shrink: 0.2;}
/*-
1 is by default means sab 1 horahe shrink toh mai bhi 1 hunga 
2 means #box2 double shrink(chota) hoga bakio k muqaable (baki if 5% ho rahe shrink toh #box2 10% hoga)
4 gunna

0.5 (means #box2 bakio se kam chota hoga bakio se half chota hoga
0 ( measn #box2 chota hoga hi nhi wahi rahega 
0.2 (bakio se 0.2 chota )
 -*/
#box3{background-color: goldenrod;
flex-shrink: 8;}
#box4{background-color: tomato;}